<html>
  <head>
    <title>IdeaBox</title>
  </head>
  <body>
    <h1>IdeaBox</h1>
    <form action='/create' method='post'>
      <p>
        Your Idea:
      </p>
      <input type='text' name='idea_name'/><br/>
      <textarea name='idea_description'></textarea><br/>
      <input type='submit'/>
    </form>

    <h3>Existing Ideas</h3>
    <ul>
      <% @ideas.each do |idea| %>
        <li>
          <a href="/ideas/<%= idea.id %>"><%= idea.title %></a><br/>
          <%= idea.description %>
        </li>
      <% end %>
    </ul>
  </body>
</html>
